!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/all.css')
  body!= body
  script(src="http://code.jquery.com/jquery-1.7.min.js")
  script(src="javascripts/jquery.simple-color.min.js")
  script(src="javascripts/main.js")
