!!!
html
  head
    title= title
    meta(name='description',content='Simple tool to create image map, just drag the image to an image area and then select areas for the image map')
    link(rel='stylesheet', href='/stylesheets/all.css')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31930968-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body!= body
  script(src="http://code.jquery.com/jquery-1.7.min.js")
  script(src="javascripts/main.min.v3.js")

